.card-detail {
    position: relative;
    flex-direction: row;
    gap: 2em;
}

.card-detail-img {
    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    min-width: calc(13em*1.7) !important;
    min-height: calc(20em*1.7) !important;
    width: calc(13em*1.8) !important;
    height: calc(20em*1.8) !important;
    border-radius: 1em;
}

.card-detail-img img:hover {
    box-shadow: 0 0 0.1em 0.01em lightblue;
}

.card-detail-img > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 1.2em;
    transition: height 0.3s, width 0.3s;
}

.card-detail-content {
    display: grid;
    flex-grow: 1;
    align-self: flex-start;
    gap: 1em;
    grid-template-columns: 2fr 5fr;
}

.card-detail-content h1 {
    margin: 0.2em 0.2em 0.2em 1em;
    font-size: calc(1.3rem + 0.1vw);
}

.card-detail-content h2 {
    font-size: calc(1.2rem + 0.1vw);
}

.card-detail-content p {
    margin: auto 1.5em;
    justify-content: center;
    font-size: calc(1.2rem + 0.1vw);
}

#card-detail-stat {
    grid-column: 1/ span 2;
}

#card-detail-stat-table {
    margin: 0.5em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/ span 2;
}

#card-detail-stat-table li {
    text-align: center;
    margin: 0.5em 0;
}

#card-detail-stat-table li p {
    margin: auto;
    text-align: center;
    font-size: calc(2rem + 0.1vw);
}

#card-detail-abilities {
    grid-column: 1/ span 2;
}

#card-detail-abilities + p {
    grid-column: 1/ span 2;
    margin: auto 3em;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    #card-detail-stat-table {
        grid-template-columns: 1fr 1fr;
    }

    .card-detail-content {
        grid-template-columns: 2fr 3fr;
    }

    #card-detail-abilities + p {
        margin: auto 2em;
    }

    .card-detail {
        gap: 1.5em;
    }

}

/*Ipad dá»c(768 x 1024)*/
@media screen and (max-width: 768px){
    .card-detail {
        flex-direction: column;
        gap: 3em;
        padding-bottom: 10em;
    }

    .card-detail-content {
        grid-template-columns: 1fr 2fr;
        width: 100%;
        gap: 0.5em;
    }

    .card-detail-content > * {
        margin: 1em 1em;
    }

    .card-detail-img {
        align-self: center;
    }
}

.expand-img {
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    z-index: 15;
    height: 80vh;
}

.expand-img img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.expand-img .content {
    margin-top: 10vh;
}