.home-layout {
    height: 100vh;
}

.home-layout #body-container {
    gap: 10rem;
    font-size: 1rem;
    background-color: transparent;
    padding: 0 !important;
}

.home-layout .page-title {
    margin-top: 0.5em;
}

.home-layout .page-title h1, h2, p {
    margin: 0;
    height: fit-content;
}

.home-layout .page-title h2 {
    margin-bottom: -0.5em;
    font-size: 0.5em;
}

.home-layout .page-title h1 {
    font-size: 1em;
    color: #72e1ff;
    letter-spacing: 0.1em;
    text-shadow: 6px 6px 0 rgba(173, 216, 230, 0.453);
}

@media (prefers-reduced-motion: no-preference) {
    .textshadowAnimation {
        animation: textshadowTitle 2s linear;
    }
}

@keyframes textshadowTitle {
    0% {text-shadow: 0 0 0 #72e1ff;}
    100% {text-shadow: 6px 6px 0 rgba(173, 216, 230, 0.453);}
}

.home-layout .page-title p {
    font-size: 0.2em;
}

.content-item {
    display: flex;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: #0aaad6;
    flex-direction: column;
    align-items: center;
}

.content-item .big-button {
    color: #0b9cc5;
    background-color: white;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.homeSwiper {
    height: 100vh;
    width: 100%;
}

.homeSwiper .swiper-slide {
    height: fit-content;
    width: 100% !important;
    padding: 1em;
}

.homeSwiper .swiper-slide:not(:first-child) > * {
    height: 100%;
    justify-content: space-between;
}

.homeSwiper .swiper-slide .content-main {
    width: 100%;
    flex-grow: 1;
}

.homeSwiper .swiper-slide:not(:first-child) {
    padding-top: 4em;
    background-color: #30343a;
}