.library-layout #body-container {
    margin-top: 2em;
    gap: 2em;
    padding: 1em 0;
    font-size: 1rem;
}

.library-layout .page-title {
    margin-top: 1em;
    height: 2em;
    padding: 0;
}

.library-layout .page-title h1 {
    font-size: 1.2em;
    margin: 0;
}

#cardFilterWrapper {
    margin: 1em;
}

#cardFilter {
    position: -webkit-sticky;
    position: sticky;
    top: 6em;
    display: flex;
    padding: 1em;
    min-width: 15em;
    flex-direction: column;
    border: 0.1em solid white;
    border-radius: 1em;
}

#cardFilter h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width: 1470px){
    .library-layout .list-card > ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
  
  /*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1240px){
    .library-layout .list-card > ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
  
  /*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 1000px){
    .library-layout .list-card > ul {
        grid-template-columns: 1fr 1fr;
    }
}
  
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 750px){
    .library-layout .list-card > ul {
        grid-template-columns: 1fr;
    }
}
  /*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    
}
  /*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    
}