.list-card {
  padding: 0;
  width: 100%;
}

.list-title {
  font-size: calc(1.5rem + 0.5vw);
}

.list-card .list-detail {
  font-size: calc(1rem + 0.5vw);
  margin: 1em 0;
}
  
.list-card > ul {
  --gap: 1.4rem;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
  min-width: calc(100% + var(--gap)) !important;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-card > ul > * {
  padding: var(--gap) 0 0 var(--gap) !important;
  width: 25% !important;
  min-width: calc((14em + 2vw));
  justify-content: center;
}

.list-card > ul > li > * {
  margin-right: -1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc((14em + 2vw));
  width: calc((14em + 2vw));
  margin: 0 auto;
}

/* Card */

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #39404c; */
  min-width: calc((13em + 2vw)) !important;
  min-height: calc((20em + 2.5vw)) !important;
  border-radius: 1em;
  margin: 0 auto;
}

.cardMoreInfo {
  position: absolute;
  font-size: 1.28em;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  border-radius: 0.8em;
  /* border: 0.1em solid white; */
  text-align: center;
  background-color: #39404c;
  /* background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 1));  */
  transition: all 0.3s, visibility 0.15s;
}

.cardMoreInfo h1,
.cardMoreInfo h2,
.cardMoreInfo p {
  margin: auto;
  color: white;
}

.card:hover .cardMoreInfo {
  box-shadow: 0 0 0.7em 0.2em lightblue;
}

.cardPreview {
  width: 90%;
  height: 90%;
  font-size: 1em;
}

.card:hover .cardPreview {
  width: 100%;
  height: 100%;
  font-size: 1.28em;
}

.cardInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* border: 0.1em solid white; */
  justify-content: center;
  border-radius: 0.5em;
  font-size: 1em;
}

.cardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
  transition: height 0.3s, width 0.3s;
}

.manaCost {
  display: flex;
  position: absolute;
  top: -0.7em;
  left: -0.7em;
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
  border: 0.1em solid white;
  background-color: lightskyblue;
  text-align: center;
  z-index: 1;
}

.manaCost h2 {
  font-size: 1.2em;
}

.cardName {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 2em;
  border-radius: 0.5em 0.5em 0 0;
  align-content: center;
  justify-content: center;
  background-color: #00000000;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0)); 
}

.cardName h1 {
  font-size: 0.7em;
}

.cardAbiliti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  min-height: 40%;
  width: 100%;
  bottom: 0;
  padding: 0.8em;
  border-radius: 0.5em;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 1)); 
}

.cardAbiliti p {
  margin: 0;
  font-size: 0.6em;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
  .list-card > ul > * {
      width: 33.33333334% !important;
      min-width: calc((12em + 2vw));
  }

}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
  .list-card > ul > * {
      width: 50% !important;
      min-width: calc((11em + 2vw));
  }
  
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
  .list-card > ul > * {
      width: 100% !important;
      min-width: calc((10em + 2vw));
  }
  
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
  
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
  
}

.short-list {
  height: 50em;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scrollbar-gutter: stable both-edges;
}

.short-list::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

.short-list::-webkit-scrollbar-track {
  background: none;
}

.short-list::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 1em;
}

.short-list::-webkit-scrollbar-thumb:hover {
  background: #0b9cc5;
  border-radius: 1em;
  width: 0.5em !important;
  height: 0.5em !important;
}

.cardLink {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}