.list-card {
  position: relative;
  padding: 0;
  width: 100%;
}

.list-title {
  font-size: 1.5rem;
}

.list-card .list-detail {
  font-size: 1rem;
  margin: 1em 0;
}
  
.list-card > ul {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  padding-top: 1.2em;
  justify-items: center;
}

.list-card > ul > * {
  min-width: 15em;
  justify-content: center;
}

.list-card > ul > li > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16em;
  width: 15em;
  margin: 0 auto;
}

/* Card */

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #39404c; */
  width: 15em !important;
  height: 22em !important;
  border-radius: 1em;
  margin: 0 auto;
  z-index: 0;
}

.card:hover {
  z-index: 3;
}

.cardMoreInfo {
  position: absolute;
  font-size: 1.28em;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  border-radius: 0.8em;
  border: 0.1em solid white;
  text-align: center;
  background-color: #39404c;
  /* background-color: white; */
  /* background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 1));  */
  transition: all 0.3s, visibility 0.15s;
}

.cardMoreInfo h1,
.cardMoreInfo h2,
.cardMoreInfo p {
  margin: auto;
  color: white;
}

.card:hover .cardMoreInfo {
  box-shadow: 0 0 0.7em 0.2em lightblue;
}

.cardInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #222;
  /* border: 0.1em solid white; */
  justify-content: center;
  border-radius: 0.5em;
  font-size: 1em;
}

.cardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
  transition: height 0.3s, width 0.3s;
}

.cardCost {
  display: flex;
  position: absolute;
  top: -0.7em;
  left: -0.7em;
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
  border: 0.1em solid white;
  background-color: #666;
  background-image: radial-gradient(transparent, black);
  text-align: center;
  z-index: 1;
}

.cardCost h2 {
  font-size: 1.2em;
}

.cardName {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 2em;
  border-radius: 0.5em 0.5em 0 0;
  align-content: center;
  justify-content: center;
  background-color: #00000000;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0)); 
}

.cardName h1 {
  font-size: 0.7em;
}

.cardAbiliti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  min-height: 45%;
  width: 100%;
  bottom: 0;
  padding: 0.9em;
  padding-top: 1.4em;
  border-radius: 0.5em;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 1)); 
}

.cardAbiliti p {
  margin: 0;
  font-size: 0.6em;
}

@media screen and (max-width: 1750px){
  .list-card > ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1320px){
  .list-card > ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
  .list-card > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 800px){
  .list-card > ul {
    grid-template-columns: 1fr 1fr;
  }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
  .list-card > ul {
    grid-template-columns: 1fr;
  }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
  
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
  
}

.short-list {
  height: 48em;
  overflow-y: hidden;
  /* -ms-overflow-style: none;  IE and Edge */
  /* scrollbar-width: none;  Firefox */
  /* scrollbar-gutter: stable both-edges; */
}

/* .short-list::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

.short-list::-webkit-scrollbar-track {
  background: none;
}

.short-list::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 1em;
}

.short-list::-webkit-scrollbar-thumb:hover {
  background: #0b9cc5;
  border-radius: 1em;
  width: 0.5em !important;
  height: 0.5em !important;
} */

.cardLink {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.cardType {
  position: absolute;
  display: flex;
  bottom: -0.5em;
  width: 100%;
  font-size: 0.6em;
}

.cardType > div {
  display: flex;
  margin: auto;
  width: 10em;
  height: 1.8em;
  border: 0.1em solid white;
  border-radius: 1em;
  background-color: #555;
}

/* Stat show */
.cardStat-right {
  position: absolute;
  right: -0.5em;
  top: 2em;
  max-width: 2em;
  z-index: 2;
}

.cardStat-left {
  position: absolute;
  left: -0.5em;
  top: 2em;
  max-width: 2em;
  z-index: 2;
}

.cardStatContent {
  display: flex;
  position: relative;
  text-align: center;
  height: 2em;
  width: 2em;
  background-color: #555;
  border-radius: 50%;
  margin: 0.5em 0;
  font-size: 1em;
  z-index: 0;
  transition: all 0.2s linear;
}

.cardStatContent p {
  font-size: 0.8em;
  font-weight: bold;
}

.cardStatMoreInfo {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  min-height: 100%;
  top: 0;
  font-size: 0;
  z-index: -1;
  background-color: inherit;
  transition: all 0.1s linear;
}

.cardStat-right .cardStatMoreInfo {
  border-radius: 0 0.5em 0.5em 0.5em;
  left: 85%;
}

.cardStat-left .cardStatMoreInfo {
  border-radius: 0.5em 0 0.5em 0.5em;
  right: 85%;
}

.cardStatContent:hover {
  width: 2.5em;
  font-size: 1.1em;
}

.cardStat-right .cardStatContent:hover {
  border-radius: 1em 0 0 1em;
  margin-left: 0.35em;
}

.cardStat-left .cardStatContent:hover {
  border-radius: 0 1em 1em 0;
  margin-left: -0.5em;
}

.cardStatContent:hover > .cardStatMoreInfo {
  width: 8em;
  height: fit-content;
  padding: 0.5em;
  opacity: 1;
  font-size: 1em;
  z-index: 1;
}

.cardStatMoreInfo h1 {
  font-size: 0.7em;
}

.cardStatMoreInfo p {
  font-size: 0.6em;
}

.statName {
  opacity: 0;
  padding: 0.1em 1em;
  width: 8em;
  background-color: #3caeff;
  position: absolute;
  left: 0;
  bottom: 98.5%;
  clip-path: polygon(90% 0, 100% 100%, 0 100%, 0 0);
  z-index: -10;
}

.statName p {
  font-size: 0.65em;
}

.statIcon {
  position: absolute;
  top: -0.3em;
  background-color: white;
  height: 1em;
  width: 1em;
  border: 0.05em solid black;
  border-radius: 50%;
}

.cardStat-right .statIcon {
  left: -0.4em;
}

.cardStat-left .statIcon {
  right: -0.4em;
}

.statIcon img {
  position: absolute;
  left: 12.5%;
  top: 12.5%;
  height: 75%;
  width: 75%;
}

/* typecard */
.WeaponCard .cardImg {
  width: 9.5em;
  height: 9.5em;
  top: 0.5em;
  left: 0.5em;
  border-radius: 50%;
}