.play-layout #body-container {
    background-color: #00000000;
    height: 120vh;
    font-size: calc(0.8rem + 0.1vw);
    margin-top: -9em;
}

.Notification {
    margin-top: 7em;
    border-radius: 1em;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.play-layout .content {
    position: relative;
    height: 100%;
    background-color: #30343a;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/627bc589-b21e-47b2-8cf2-7617185ee1ac/d4n4zuk-f6474775-f789-459c-833e-89ffd068b654.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzYyN2JjNTg5LWIyMWUtNDdiMi04Y2YyLTc2MTcxODVlZTFhY1wvZDRuNHp1ay1mNjQ3NDc3NS1mNzg5LTQ1OWMtODMzZS04OWZmZDA2OGI2NTQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9XxbT2tBslr_SHGEAA4u_5QCwhppgUj6K-BiJsHo4ms");
}

#gameArea {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

#floorProcess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    height: fit-content;
    font-size: 0.8em;
}

#floorProcess li {
    height: fit-content;
    margin: auto;
}

#playerInfo {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    height: 17em;
}

#playerMoreInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    margin-left: 1em;
}

#playerAvatar {
    display: flex;
    padding: 0;
    width: 15em;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

#playerAvatar > img {
    margin: auto;
    width: 13em;
    height: 13em;
    object-fit: cover;
    border: 0.2em solid #ccc;
    border-radius: 50%;
}

#playerLever {
    position: absolute;
    bottom: 1em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: 0.4em solid #888;
    background-color: #777;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    z-index: 1;
    text-align: center;
}

#playerLever p {
    font-size: 2em;
    font-weight: bold;
}

#playerMaxHP {
    position: absolute;
    bottom: 3em;
    left: 2.5em;
    width: 12.5em;
    height: 2em;
    background-color: #777;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    text-align: center;
    clip-path: polygon(100% 0, 100% 20%, 90% 100%, 0 100%, 0 0);
}

#playerMaxHP p {
    position: absolute;
    top: -0.2em;
    left: 0;
    width: 100%;
    font-size: 1.5em;
}

#playerHP {
    background-color: rgb(240, 45, 45);
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.6));
    height: 100%;
    border-radius: 0.2em;
    clip-path: polygon(100% 0, 100% 20%, 91% 100%, 0 100%, 0 0);
}

#playerMaxMP {
    position: absolute;
    bottom: 1.75em;
    left: 3.1em;
    width: 9.5em;
    height: 1.3em;
    background-color: #777;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    text-align: center;
    clip-path: polygon(100% 0, 100% 15%, 90% 100%, 0 100%, 0 0);
}

#playerMaxMP p {
    position: absolute;
    top: -0.25em;
    left: 0;
    width: 100%;
    font-size: 1.2em;
}

#playerMP {
    background-color: #3caeff;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.2));
    height: 100%;
    border-radius: 0.2em;
    clip-path: polygon(100% 0, 100% 10%, 92% 100%, 0 100%, 0 0);
}

#playerMaxEXP {
    position: absolute;
    bottom: 1em;
    left: 2.5em;
    width: 8.5em;
    height: 0.8em;
    background-color: #777;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    text-align: center;
    clip-path: polygon(95% 0, 100% 90%, 100% 100%, 0 100%, 0 0);
}

#playerEXP {
    background-color: orange;
    height: 100%;
    border-radius: 0.2em;
    clip-path: polygon(97% 0, 100% 90%, 100% 100%, 0 100%, 0 0);
}

/* Hand card */

#cardArea {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    width: 30em;
    height: 0;
    margin-right: 5em;
    margin-left: 0em;
}

.handCard {
    display: flex;
    flex-grow: 0.05;
    min-width: 3em;
    max-width: 14em;
    width: fit-content;
}

.handCard label {
    min-width: 0;
    width: 3em;
}

/* Hover card */
#cardArea .handCard:hover label {
    width: 10.2em;
    z-index: 1;
}

#cardArea .handCard:last-child:hover label {
    width: 10.2em;
    margin-right: -6em;
    z-index: 1;
}

#cardArea .card {
    transform: scale(0.6) translate(-4.5em, -8em);
}

#cardArea .handCard:hover .card {
    transform: scale(0.7) translate(-3em, -9em);
    margin: 0;
}

#cardArea .handCard:last-child:hover .card {
    transform: scale(0.7) translate(-3em, -9em);
}

#cardArea .handCard input[type="radio"] {
    display: none;
}

/* checked card */
#cardArea .handCard:hover input[type="radio"]:checked + label .card,
#cardArea input[type="radio"]:checked + label .card {
    transform: scale(0.7) translate(-3em, -9.5em);
    margin: 0;
    box-shadow: 0 0 0.5em 0.1em #0aaad6;
}

#cardArea .handCard:hover input[type="radio"]:checked + label,
#cardArea input[type="radio"]:checked + label {
    max-width: 10.2em;
    width: 10.2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    z-index: 0;
}

#cardArea .handCard:last-child:hover input[type="radio"]:checked + label .card,
#cardArea .handCard:last-child input[type="radio"]:checked + label .card {
    transform: scale(0.7) translate(-3em, -9.5em);
    margin: 0;
    box-shadow: 0 0 0.5em 0.1em #0aaad6;
}

#cardArea .handCard:last-child:hover input[type="radio"]:checked + label,
#cardArea .handCard:last-child input[type="radio"]:checked + label {
    max-width: 10.2em;
    width: 10.2em;
    margin-right: -6em;
    margin-left: 0.3em;
    z-index: 0;
}

#playerItems {
    display: flex;
    flex-direction: row;
    width: 15em;
    height: 10em;
    margin-top: auto;
}

#playerDeck {
    display: flex;
    align-self: flex-end;
    padding: 0;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

#playerDeck > img {
    margin: auto;
    width: 4em;
    height: 4em;
    object-fit: cover;
    border: 0.2em solid #ccc;
    border-radius: 50%;
    background-color: #555555;
}

#playerBag {
    display: flex;
    padding: 0;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

#playerBag > img {
    margin: auto;
    width: 9em;
    height: 9em;
    object-fit: cover;
    border: 0.2em solid #ccc;
    border-radius: 50%;
    background-color: #555555;
}

#end-turn-btn {
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 4em;
}

.contentArea {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    top: 10%;
}

#monsterArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 2em;
}

#eventArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-bottom: 1em;
}