.play-layout #body-container {
    background-color: #00000000;
    font-size: 0.9rem;
    padding-top: 1em;
}

.Notification {
    margin-top: 7em;
    border-radius: 1em;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.play-layout .content {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: #30343a;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/627bc589-b21e-47b2-8cf2-7617185ee1ac/d4n4zuk-f6474775-f789-459c-833e-89ffd068b654.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzYyN2JjNTg5LWIyMWUtNDdiMi04Y2YyLTc2MTcxODVlZTFhY1wvZDRuNHp1ay1mNjQ3NDc3NS1mNzg5LTQ1OWMtODMzZS04OWZmZDA2OGI2NTQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9XxbT2tBslr_SHGEAA4u_5QCwhppgUj6K-BiJsHo4ms");
}

#gameArea {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

#floorProcess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    height: fit-content;
    font-size: 0.8em;
}

#floorProcess li {
    height: fit-content;
    margin: auto;
}

#playerInfo {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    height: 17em;
}

#playerMoreInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    margin-left: 1em;
    z-index: 8;
}

#playerAvatar {
    display: flex;
    padding: 0;
    width: 15em;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

#playerAvatar > img {
    margin: auto;
    width: 13em;
    height: 13em;
    object-fit: cover;
    border: 0.2em solid #ccc;
    border-radius: 50%;
    z-index: 3;
}

#playerLevel {
    position: absolute;
    bottom: 1em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: 0.4em solid darkorange;
    background-color: #777;
    background-image: radial-gradient(darkorange, rgb(0, 0, 0, 0.4));
    z-index: 5;
    text-align: center;
}

#playerLevel p {
    font-size: 2em;
    font-weight: bold;
}

#playerMaxHP {
    bottom: 3em;
    left: 2.5em;
    width: 12.5em;
    height: 2em;
    border-radius: 0.2em;
    z-index: 4;
    clip-path: polygon(100% 0, 100% 20%, 90% 100%, 0 100%, 0 0);
}

#playerMaxHP p {
    top: -0.15em;
    font-size: 1.5em;
}

#playerHP {
    background-color: rgb(240, 45, 45);
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.6));
    height: 100%;
    border-radius: 0.2em;
    clip-path: polygon(100% 0, 100% 20%, 91% 100%, 0 100%, 0 0);
}

.MaxHPBar {
    position: absolute;
    background-color: #777;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    padding: 0.2em 0.5em;
    text-align: center;
}

.MaxHPBar p {
    position: absolute;
    width: 100%;
    left: 0;
}

.HPBar {
    background-color: rgb(240, 45, 45);
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.6));
    height: 100%;
}

#playerMaxMP {
    bottom: 1.75em;
    left: 3.1em;
    width: 9.5em;
    height: 1.3em;
    border-radius: 0.2em;
    text-align: center;
    z-index: 3;
    clip-path: polygon(100% 0, 100% 15%, 90% 100%, 0 100%, 0 0);
}

#playerMaxMP p {
    position: absolute;
    top: -0.25em;
    font-size: 1.2em;
}

#playerMP {
    background-color: #3caeff;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.2));
    height: 100%;
    border-radius: 0.2em;
    clip-path: polygon(100% 0, 100% 10%, 92% 100%, 0 100%, 0 0);
}

.MaxMPBar {
    position: absolute;
    background-color: #777;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    padding: 0.2em 0.5em;
    text-align: center;
}

.MaxMPBar p {
    position: absolute;
    width: 100%;
    top: -0.25em;
    left: 0;
    font-size: 1.2em;
}

.MPBar {
    background-color: #3caeff;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.6));
    height: 100%;
}

#playerMaxEXP {
    position: absolute;
    bottom: 1em;
    left: 2.5em;
    width: 8.5em;
    height: 0.8em;
    background-color: #777;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    text-align: center;
    clip-path: polygon(95% 0, 100% 90%, 100% 100%, 0 100%, 0 0);
}

#playerEXP {
    background-color: orange;
    height: 100%;
    border-radius: 0.2em;
    clip-path: polygon(97% 0, 100% 90%, 100% 100%, 0 100%, 0 0);
}

.shieldBar {
    background-image: radial-gradient(transparent 25%, orange, yellow);
    position: absolute;
    z-index: 4;
}

.shieldValue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    background-image: radial-gradient(transparent, orange, yellow);
    clip-path: polygon(50% 0, 100% 10%, 95% 75%, 50% 100%, 5% 75%, 0 10%);
}

.shieldValue p {
    font-size: 1.5em;
    font-weight: bolder;
    color: whitesmoke;
}

#playerShield .shieldBar {
    bottom: 3em;
    left: 2.5em;
    width: 12.5em;
    height: 2em;
    border-radius: 0.2em;
    clip-path: polygon(100% 0, 100% 15%, 90% 100%, 0 100%, 0 0);
}

#playerShield .shieldValue {
    position: absolute;
    left: 12em;
    bottom: 2.5em;
    height: 3em;
    width: 3em;
    z-index: 5;
}

#playerStatus {
    display: flex;
    position: absolute;
    margin: 1em;
    max-width: 25em;
    height: 0;
    padding: 0;
    opacity: 0;
    font-size: 0;
    bottom: 50%;
    left: 50%;
    border: 0.2em solid white;
    transition: all 0.1s linear;
}

.openWideUp {
    display: flex;
    width: 30em;
    height: 30em !important;
    left: 0.2em !important;
    padding: 0.5em !important;
    font-size: 1em !important;
    background-color: #39404c;
    border: 0.2em solid white;
    border-radius: 0.5em;
    bottom: 78% !important;
    opacity: 1 !important;
}

.statusBox {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    background-color: #222;
    padding: 0.5em;
    border-radius: 0.4em;
}

.statusBox .big-button {
    padding: 0.1em 1.5em;
    border-radius: 0.3em;
    width: 8em;
    color: #0b9cc5;
    background-color: white;
}

.statusBoxItem {
    position: relative;
    display: grid;
    padding: 0.2em 1em;
    border-color: white;
    grid-template-columns: 3fr 3fr 3fr 1fr 1fr;
    border: 0;
    justify-items: center;
    align-items: center;
}

.statusBoxItem::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border: 0 solid transparent;
    border-color: inherit;
    width: 0%;
    height: 100%;
    transition: all 0.2s linear;
}

 .statusBoxItem:not(:last-child, :first-child):hover {
    margin-top: 0.8em;
    z-index: 2;
}

.statusBoxItem:not(:last-child, :first-child):hover .statName {
    opacity: 1;
    z-index: 2;
}


.statusBoxItem:not(:last-child, :first-child):hover .statInfo {
    width: 10em;
    height: fit-content;
    padding: 0.4em 1em;
    border-radius: 0 0.4em 0.4em 0.4em;
}

.statusBoxItem:not(:last-child, :first-child):hover::before{
    /* background-color: #3caeff; */
    border-width: 0.2em;
    width: 100%;
    height: calc(100% - 0.4em);
    z-index: 0;
}

.statusBoxItem:not(:last-child, :first-child):hover::after{
    content: "";
    position: absolute;
    background-color: transparent;
    height: calc(100% + 1.2em);
    bottom: 0;
    width: calc(100% + 0.4em);
}

.statusBoxItem:not(:last-child, :first-child):hover > p {
    font-size: 1.3em;
}

.statusBoxItem > * {
    z-index: 1;
}

.statusBoxItem p {
    text-align: center;
}

.statusBoxItem button:nth-child(5):hover {
    color: rgb(109, 255, 109);
}

.statusBoxItem button:nth-child(6):hover {
    color: red;
}

/* Hand card */

#cardArea {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    width: 30em;
    height: 0;
    margin-right: 3em;
    margin-left: 0em;
}

.handCard {
    display: flex;
    flex-grow: 0.05;
    min-width: 3em;
    max-width: 14em;
    width: fit-content;
}

.handCard label {
    min-width: 0;
    width: 4em;
}

/* Hover card */
#cardArea .handCard:hover label {
    width: 19em;
    margin-right: 1em;
    z-index: 1;
}

#cardArea .handCard:last-child:hover label {
    width: 4em;
    margin-right: -6em;
    margin-left: 1em;
    z-index: 1;
}

#cardArea .card {
    transform: scale(0.8) translate(-4.5em, 1em);
    transition: all 0.05s linear;
}

#cardArea .handCard:hover .card {
    transform: scale(1) translate(-3em, -4.5em);
    margin: 0;
}

#cardArea .handCard:last-child:hover .card {
    transform: scale(1) translate(-3em, -4.5em);
}

#cardArea .handCard input[type="radio"] {
    display: block;
}

/* checked card */
#cardArea .handCard:hover input[type="radio"]:checked + label .card,
#cardArea input[type="radio"]:checked + label .card {
    transform: scale(1) translate(-3em, -4.5em);
    margin: 0;
    box-shadow: 0 0 0.5em 0.1em #0aaad6;
}

#cardArea .handCard:hover input[type="radio"]:checked + label,
#cardArea input[type="radio"]:checked + label {
    max-width: 17em;
    width: 17em;
    z-index: 1;
}

#cardArea .handCard:last-child:hover input[type="radio"]:checked + label .card,
#cardArea .handCard:last-child input[type="radio"]:checked + label .card {
    transform: scale(1) translate(-3em, -4.5em);
    margin: 0;
    box-shadow: 0 0 0.5em 0.1em #0aaad6;
}

#cardArea .handCard:last-child:hover input[type="radio"]:checked + label,
#cardArea .handCard:last-child input[type="radio"]:checked + label {
    max-width: 4em;
    width: 4em;
    margin-right: -6em;
    margin-left: 1em;
    z-index: 1;
}

#playerItems {
    display: flex;
    flex-direction: row;
    width: 15em;
    height: 10em;
    margin-top: auto;
}

#playerDeck {
    display: flex;
    align-self: flex-end;
    padding: 0;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

#playerDeck > img {
    margin: auto;
    width: 4em;
    height: 4em;
    object-fit: cover;
    border: 0.2em solid #ccc;
    border-radius: 50%;
    background-color: #555555;
}

#playerBag {
    display: flex;
    padding: 0;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

#playerBag > img {
    margin: auto;
    width: 9em;
    height: 9em;
    object-fit: cover;
    border: 0.2em solid #ccc;
    border-radius: 50%;
    background-color: #555555;
}

#end-turn-btn {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0.5em;
    right: 0;
    font-size: 1em;
}

#end-turn-btn .big-button {
    margin-top: 0;
    margin-left: 0.8em;
}

#next-turn-cards {
    margin-left: 1em;
    text-align: center;
    font-size: 2em;
    margin: auto;
}

#end-turn-btn img {
    height: 3em;
    width: 3em;
}

.contentArea {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    top: 9%;
}

.card .backgroundEffect {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.backgroundEffect svg {
    position: absolute;
}

/* Monster */
#monsterArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: auto;
    margin-right: 6em;
}

.Monster input {
    display: none;
}

.Monster .card {
    transform: scale(0.85);
}

.Monster .card:hover .cardMoreInfo {
    box-shadow: 0 0 0.3em 0.2em orange;
}

.Monster_Info {
    position: relative;
    width: 100%;
    z-index: 3;
}

.Monster_Info .MaxHPBar {
    top: -1em;
    left: 5%;
    height: 1.8em;
    width: 90%;
    border-radius: 0.3em;
}

.Monster_Info .MaxHPBar p {
    font-size: 1.2em;
    top: 0;
}

.Monster_Info .HPBar {
    border-radius: 0.2em;
}

.Monster_Info .MaxMPBar {
    top: 0.8em;
    left: 10%;
    height: 1.5em;
    width: 80%;
    border-radius: 0.3em;
}

.Monster_Info .MaxMPBar p {
    font-size: 1em;
    top: 0;
}

.Monster_Info .MPBar {
    border-radius: 0.2em;
}

.Monster_Info .shieldBar {
    top: -1em;
    left: 5%;
    height: 1.8em;
    width: 90%;
    border-radius: 0.3em;
}

.Monster_Info .shieldValue {
    position: absolute;
    left: 11.9em;
    top: -1.4em;
    height: 3em;
    width: 3em;
    z-index: 5;
}


.Monster .choseMonster {
    width: 12%;
    height: 12%;
}

.Monster .choseMonster path {
    fill: transparent;
    stroke: white;
    stroke-width: 1;
    stroke-dasharray: 690;
    stroke-dashoffset: 690;
}

.Monster:hover path {
    animation: animate-chose-monster 1s linear forwards;
}

@keyframes animate-chose-monster {
    0% {
        stroke-width: 0;
        stroke-dashoffset: 690;
        stroke: rgba(255, 255, 255, 0);
    }
    50% {
        stroke-width: 10;
        stroke-dashoffset: 0;
        stroke: white;
    }
    80% {
        stroke-width: 5;
        stroke: orange;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: orange;
    }
}

@keyframes animate-chosing-monster {
    0% {
        fill: orange;
    }
    20% {
        stroke-width: 10;
        stroke: white;
    }
    40% {
        stroke-width: 5;
        stroke: orange;
        fill: transparent;
    }
    60% {
        stroke-dashoffset: 0;
        fill: orange;
    }
    100% {
        stroke-dashoffset: 0;
        fill: orange;
    }
}

#monsterArea input[type="checkbox"]:checked + label .card {
    transform: scale(0.9);
}

#monsterArea input[type="checkbox"]:checked + label .card .cardMoreInfo {
    box-shadow: 0 0 0.3em 0.2em orange;
}

#monsterArea input[type="checkbox"]:checked + label path {
    animation: animate-chosing-monster infinite 2s linear;
}

/* Event */
#eventArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 4em auto;
}

.eventCard path {
    fill: transparent;
    stroke: white;
    stroke-width: 1.2;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
}

.eventCard:hover path {
    animation: animate-chosing 1s linear forwards;
}

@keyframes animate-chosing {
    0% {
        stroke-width: 0;
        stroke-dashoffset: 300;
        stroke: rgba(255, 255, 255, 0);
    }
    50% {
        stroke-width: 1.2;
        stroke-dashoffset: 0;
        stroke: white;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #0aaad6;
    }
}

/* Timeline */
#timelineArea {
    top: 0;
    right: 0;
    padding: 0.5em;
    margin: -1em;
    height: 70%;
    width: 6em;
    background-color: rgba(153, 153, 153, 0.5);
    background-image: linear-gradient(to left, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    position: absolute;
    overflow: hidden;
}

#turnShow {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5em;
    background-color: #777;
    text-align: center;
    font-size: 1.5em;
    border: 0.25em solid white;
}

#turnShow p {
    margin: auto;
    color: white;
}

#timelineArea .timelineItem:first-child {
    position: absolute;
    height: 5em;
    width: 5em;
    top: 5em !important;
    display: flex;
    border-radius: 50%;
}

#timelineArea .timelineItem:first-child img {
    width: 5em;
    border: 0.3em solid white;
    box-shadow: 0 0 0.5em 0.1em lightblue;
}

#timelineArea .timelineItem {
    position: absolute;
    height: 4em;
    width: 5em;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

#timelineArea .timelineItem img {
    height: 100%;
    width: 4em;
    object-fit: cover;
    border-radius: 50%;
    border: 0.1em solid white;
}

/* SFX */
.SFX_Area {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.SFX_Area .blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: radial-gradient(transparent 60%, white);
}

/* (transparent 55%, rgba(255, 98, 98, 0.5), red); */

/* Notification */
.notificationArea {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
}

.notificationArea .blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
}

.notificationBox {
    min-width: 50%;
    width: 90%;
    min-height: 20%;
    margin: auto;
    z-index: 10;
}

.notificationTitle {
    font-size: 5em;
    margin: 0;
    margin-top: -0.5em;
    color: #3caeff;
    text-shadow: 0.1em 0.1em 0.1em #0aaad69e;
    font-weight: bolder;
}

.contentBox {
    display: flex;
    padding: 1.5em 12em;
    background-color: transparent;
    border: 0.2em solid whitesmoke;
    border-inline-width: 0;
    background-image: linear-gradient(
        to left, #39404c00, #39404c, #39404c, #39404c, #39404c, #39404c, #39404c00
    );
    gap: 1em;
}

.contentBox .big-button {
    margin-top: 0.5em;
}

.contentBoxColumn {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5em;
}

.contentBoxRow {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}

.contentBoxItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5em;
    background-color: #222;
    padding: 1em;
}

.contentBoxItem > * {
    font-size: 1.2em;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px){
    .play-layout #body-container .content {
        max-width: 1336px !important;
        min-width: 1336px !important;
        max-height: 800px !important;
        min-height: 800px !important;
    }
}
  
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    .play-layout #body-container .content {
        max-width: 1024px !important;
        min-width: 1024px !important;
        max-height: 768px !important;
        min-height: 768px !important;
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){

}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){

}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){

}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){

}

.statInfo {
    width: 0;
    padding: 0;
    background-color: #3caeff;
    position: absolute;
    left: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    overflow: hidden;
    z-index: -10;
    transition: all 0.1s linear;
  }
  
  .statInfo p {
    font-size: 0.7em;
  }