body {
  background-color: #282c34c4;
  color: white;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 0.1em;
  font-family: 'Saira Condensed', sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  padding: 1em;
  display: flex;
  height: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}

.content-title {
  text-align: center;
  width: 80%;
  font-size: 2em;
}

.content-detail {
  text-align: center;
  width: 70%;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.content-img {
  width: 100%;
  height: 50vh;
}

.content-link {
  font-size: 1.2em;
  margin: 1em;
}

.content-notice {
  margin-bottom: 1em;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px){
  .content {
    max-width: 1320px !important;
  }

  #NavBar-Collapsed {
    display: none;
  }

  #NavBarCollapseBtn {
    visibility: hidden;
  }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
  .content {
    max-width: 100% !important;
  }

  #NavBar-Collapsed {
    display: none;
  }

  #NavBarCollapseBtn {
    visibility: hidden;
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
  .content {
    max-width: 100%;
  }

  #NavBarCollapseBtn {
    visibility: visible !important;
  }

  #NavBar-Collapsed {
    display: flex;
  }

  .NavBarUl {
    display: none !important;
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
  .content {
    max-width: 100%;
  }

  #NavBarCollapseBtn {
    visibility: visible !important;
  }

  #NavBar-Collapsed {
    display: flex;
  }

  .NavBarUl {
    display: none !important;
  }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
  .content {
    max-width: 320px;
  }

  #NavBarCollapseBtn {
    visibility: visible !important;
  }

  #NavBar-Collapsed {
    display: flex;
  }

  .NavBarUl {
    display: none !important;
  }
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
  .content {
    min-width: 320px;
  }

  #NavBarCollapseBtn {
    visibility: visible !important;
  }

  #NavBar-Collapsed {
    display: flex;
  }

  .NavBarUl {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: white;
}

a:hover, button:hover {
  color: lightblue;
  text-shadow: 0 0 1em rgba(173, 216, 230, 0.453);
}

button {
  font-size: 1em;
  font-weight: bolder;
  color: white;
  background-color: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button i {
  margin: auto 0.5em;
}

.App {
  text-align: center;
}

#App-logo {
  height: 5em;
  pointer-events: none;
  margin: 0;
}

/* animation div */

.fade-in {
  transform: translateY(8em);
  opacity: 0;
}

.open-img {
  transform: scale(0, 0);
  opacity: 0;
  border-radius: 5em;
}

/* Animation */

@media (prefers-reduced-motion: no-preference) {
  #App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .FadeInAnimation {
    transform: translateY(0);
    opacity: 1;
    animation: FadeInMoveUp 0.5s ease;
  }

  .openImgAnimation {
    transform: scale(1, 1);
    border-radius: 1em;
    opacity: 1;
    animation: openImg 0.4s ease;
  }

  .closeImgAnimation {
    transform: scale(0, 0);
    border-radius: 10em;
    opacity: 0;
    animation: closeImg 0.2s ease;
  }
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes openImg {
  0%  {transform: scale(0, 0.02); object-fit: cover; border-radius: 5em; opacity: 0;}
  50% {transform: scale(1, 0.02); object-fit: cover; border-radius: 5em; opacity: 0.5;}
}

@keyframes closeImg {
  0%  {transform: scale(1, 1); object-fit: cover; border-radius: 5em; opacity: 1;}
  50% {transform: scale(1, 0.02); object-fit: cover; border-radius: 5em; opacity: 0.5;}
}

@keyframes FadeInMoveUp {
  0% {transform: translateY(8rem); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}

#body-container {
  padding-top: 10rem;
  padding-bottom: 20rem !important;
  flex-direction: column;
  background-color: #30343a;
}

#page-banner {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.overlay-img {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/ed/d4/7e/edd47e131ce1a6475cf50c9d2e84d8f6.jpg");

  /* Add the blur effect */
  filter: blur(0.3em);
  -webkit-filter: blur(0.3em);

  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  opacity: 0.5;
}

.page-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  font-size: calc(5rem + 3vw);
}

.page-title h2 {
  margin: 0;
  font-size: 0.8em;
  margin-bottom: -1em;
}

.page-title h1 {
  margin: 0;
  font-size: 2em;
  color: #72e1ff;
  text-shadow: 8px 8px 0 rgba(173, 216, 230, 0.453);
}

.page-title a {
  font-size: 0.3em;
}

.page-title p {
  font-size: 0.3em;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.5);
  z-index: -1;
}

.close-btn {
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  text-shadow: 0 0 0.3em #00c8ff;
}

.close-btn:hover {
  color: rgb(255, 105, 105);
  text-shadow: 0 0 0.5em rgb(255, 105, 105);
}

.expand-btn {
  font-size: 2em;
  position: absolute;
  right: 0.3em;
  bottom: 0.3em;
  text-shadow: 0 0 0.3em #00c8ff;
}

.expand-btn:hover {
  color: #00c8ff;
  text-shadow: 0 0 0.5em #00c8ff;
}

.big-button {
  font-size: 0.25em;
  font-weight: bolder;
  width: fit-content;
  padding: 0.5em 2em;
  margin-top: 1.5em;
  color: white;
  background-color: #0aaad6;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em 0.1em lightblue;
  align-self: center;
}
  
.big-button:hover {
  background-color: #0b9cc5;
  color: white;
  box-shadow: 0 0 0.5em 0.3em lightblue;
}

.disable-btn {
  background-color: #777;
  color: whitesmoke;
  box-shadow: 0 0 0.5em 0.1em #555;
}

.disable-btn:hover {
  background-color: #777;
  color: whitesmoke;
  box-shadow: 0 0 0.5em 0.3em #555;
}